@font-face {
  font-family: GarrickBold;
  src: url(../public/Garrick\ Bold.ttf);
}

/* *{
  
  text-shadow: 0px 0px 2px #444444;
  text-decoration: none;
} */
:root{
  --active-index: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(20, 20, 20);
  margin: 0px;
}

#menu {
  height: 100vh;
  display: flex;
  align-items: center;
}

.menu-item {
  color: white;
  font-size: clamp(2rem, 7vw, 7rem);
  font-family: 'GarrickBold', monospace;

  display: block;
  text-decoration: none;
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  transition: opacity 400ms ease;
}

#menu-items {
  margin-left: clamp(4rem, 15vw, 48rem);
  position: relative;
  z-index: 2;
}

#menu-items:hover > .menu-item {
  opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
  opacity: 1;
  text-shadow: 0px 0px 8px #5f5f5f;
}

#menu-background-pattern {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 9%, 
    transparent 9%
  );
  background-position: 0% 0%;
  background-size: 12vmin 12vmin;
  height: 100vh;
  left: 0px;
  position: absolute;
  top: 0px;
  transition: opacity 800ms ease, 
    background-size 800ms ease,
    background-position 800ms ease;
  width: 100vw;
  z-index: 1;
}

#menu-items:hover ~ #menu-background-pattern {
  background-size: 11vmin 11vmin;
  opacity: 0.5;
} 

#menu > #menu-background-pattern {
  background-position: 0% calc(-25% * (var(--active-index)));
}
/* Technologies Component 
.tech {
  margin-top: 1.5em;
}
.tech-header {
  padding-left: 5px;
  padding-bottom: 5px;
}
.tech-content {
  border-top: solid 1px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
} */

/* HOLDS THE 4 SECTIONS 
.tech-container-content {
  display: flex;
}

.react-icon {
  height: 65px;
  align-items: center;
  margin: auto;
}
.redux-icon {
  height: 60px;
  align-items: center;
  margin: auto;
}
.svelte-icon {
  height: 60px;
  margin: auto;
}*/
